:root {
  --background-color: #f0f0f0;
  --primary-color: #6200ea;
  --secondary-color: #03dac6;
  --text-color: #000;
  --completed-text-color: gray;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

.App {
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  color: var(--primary-color);
}
